<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDM_Okta.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IDM_Okta.My.MySettings>
            <setting name="IDMServer" serializeAs="String">
                <value />
            </setting>
            <setting name="IDMoAuthUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SAMLMetaDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPpw" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPSubject" serializeAs="String">
                <value>VMware Okta to IDM Monitor on &lt;servername&gt;</value>
            </setting>
            <setting name="SMTPFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPTo" serializeAs="String">
                <value />
            </setting>
            <setting name="OktaServer" serializeAs="String">
                <value />
            </setting>
            <setting name="OktaAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IDMoAuthSS" serializeAs="String">
                <value />
            </setting>
        </IDM_Okta.My.MySettings>
    </userSettings>
</configuration>